/* Weronika Marciniak */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* mobile first*/
@media only screen and (min-width: 320px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }

    p, q, h4 {
        font-family: Montserrat;
        font-size: 20px;
    }
    
    nav {
        font-family: Montserrat;
        color: #222222;
    }
    nav label {
        background-color: #F6D64A;
    }

    nav li {
        display: none;
    }

    nav a {
        background-color: #55BCD5;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .skip {
        overflow: hidden;
    }

    #intro {
        background: #55BCD5;
        background: -webkit-linear-gradient(top, #55BCD5, #FFFFFF);
        background: -moz-linear-gradient(top, #55BCD5, #FFFFFF);
        background: linear-gradient(to bottom, #55BCD5, #FFFFFF);
    }

    #intro img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    header h1, h2, h3 {
        font-family: Molle;
        font-size: 35px;
    }

    #plan {
        background-color: #F6D64A;
        text-align: center;
    }

    #plan div {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    #plan section {
        background-color: #55BCD5;
        border-radius: 5px;
        padding: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #FFFFFF;
    }

    #plan h4 {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding: 5px;
        font-family: Montserrat;
    }

    #testimonials h4 {
        font-weight: bold;
        font-size: 25px;
    }

    #testimonials {
        text-align: center;
    }


}